<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>JEWELLERY</em> <span>SHOP....</span> ABOUT US</h2>
            <p>Jewellery is a unique product category, which elicits strong emotions from potential buyers. If you’re selling jewellery online, your product descriptions are where you make the pitch to prospects.</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Best Product</a>
            </div>
        </div>
    </div>
</div>


<div id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.3857478312234!2d80.19024341460347!3d6.078610329861924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae1714c056f60e3%3A0x95c875732b7a08ce!2sRuhuna%20Engineering%20Faculty%20Cafeteria!5e0!3m2!1sen!2slk!4v1603729836649!5m2!1sen!2slk" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen></iframe>
</div>
















<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>J</em>SHOP</a>
                    <p>Web Application Project &copy; Siwrathna L.R.L.D
                   <br>REG NO: EG/2017/3247</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>ANURADHAPURA </li>
                        <li>SRI LANKA </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: 0711891524</li>
                        <li><em>Email</em>: devindiSiwrathna@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with me</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-google"></i></a></li>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>