<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>JEWELLERY</em> <span>SHOP....</span> DEVINDI(PVT)</h2>
            <p>Jewellery is a unique product category, which elicits strong emotions from potential buyers. If you’re selling jewellery online, your product descriptions are where you make the pitch to prospects.</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Best Product</a>
            </div>
        </div>
    </div>
</div>




<section id="portfolio">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <h4>Our Service</h4>
                        <div class="line-dec"></div>
                        <p>Jewellery is a unique product category, which elicits strong emotions from potential buyers. If you’re selling jewellery online, your product descriptions are where you make the pitch to prospects..</p>
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Show All</span></li>
                                <li class="filter" data-filter="branding"><span>Body piercing jewellery‎ </span></li>
                                <li class="filter" data-filter="graphic"><span>Fictional gemstones and jewelry‎</span></li>
                                <li class="filter" data-filter="nature"><span>Genital jewellery‎ </span></li>
                                <li class="filter" data-filter="animation"><span>Gold-filled jewelry</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 project-item mix nature">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/portfolio_big_item_01.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_01.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix animation">
                                  <div class="thumb">
                                    <div class="image">
                                            <a href="assets/img/portfolio_big_item_02.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_02.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/portfolio_big_item_03.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_03.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/portfolio_big_item_04.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_04.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/portfolio_big_item_05.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_05.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/portfolio_big_item_06.jpg" data-lightbox="image-1"><img src="assets/img/portfolio_item_06.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>














<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>J</em>SHOP</a>
                    <p>Web Application Project &copy; Siwrathna L.R.L.D
                   <br>REG NO: EG/2017/3247</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>ANURADHAPURA </li>
                        <li>SRI LANKA </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: 0711891524</li>
                        <li><em>Email</em>: devindiSiwrathna@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with me</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-google"></i></a></li>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://www.facebook.com/achini.liyanage.96"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>